<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content">
  <div id="profile-info">
    <!-- <img src="'data:image/png;base64,'+{{partner?.imageSmall}}"  alt='img2'/> -->
    <img class="profile-image" src="../../../../assets/icon/logo.png" alt="{{currentUser?.username}}">
    <h2 class="profile-name">{{currentUser?.username}}</h2>
  </div>
  <div *ngIf="uid" id='partner-info' text-wrap text-center>
    <ion-list no-lines>
      <ion-item>
          <ion-icon name="mail" color="primary" item-start></ion-icon>
          <p *ngIf="email">{{email}}</p>
          <a *ngIf="email" button slot="end" ion-button href="mailto:{{email}}" color="primary" item-end medium>Open App</a>
      </ion-item>
      <ion-item>
          <ion-icon item-start name="call" color="danger"></ion-icon>
          <p *ngIf="phoneNumber">{{phoneNumber}}</p>
          <a *ngIf="phoneNumber" button slot="end" ion-button href="tel:{{phoneNumber}}" color="danger" item-end medium>Poke me</a>
          <a *ngIf="phoneNumber" button slot="end" ion-button color="secondary" item-end medium href="whatsapp://send?text=Hi from ionic&phone=+{{phoneNumber}}&abid=+{{phoneNumber}}">Open App</a>
      </ion-item>
    </ion-list>
    <!-- <ion-list>
      <ion-list-header>
        Other
      </ion-list-header>
      <ion-item>
        <ion-icon name="refresh-circle-outline"></ion-icon>
        <ion-button (click)="update()"> Update </ion-button>
        <ion-button (click)="showUser()"> User </ion-button>
        <ion-button (click)="showPartner()"> Partner </ion-button>
      </ion-item>
    </ion-list> -->
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer">
    <div (click)="logout()">
      <ion-icon name='power'></ion-icon>
      <span> <strong>Sign out</strong></span>
    </div>
  </ion-toolbar>
</ion-footer>